.character-container {
    width: 300px;
    background-color: #22252b;
    height: 530px;
    padding: 5px;
    color: #fff;
    img {
        border-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
.character-info-main {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    background-color: #333333;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.character-info-inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    padding: 10px 5px;
        span:nth-child(1) {
            flex-basis: 25%;
        }
}
.character-img-banner {
    position: absolute;
    bottom: 0;
    background-color: rgba(51,51,51,0.8);
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
}
.character-info-name {
    font-size: 22px;
}
.character-banner-inner {
    padding-left: 10px;
}
.character-info-content {
    color: #9A590C;
}